:root {
    --background-color: rgb(8, 8, 8);
    --main-text-color: beige;
    --default-neutral-color: rgb(48, 64, 48);
    --default-neutral-color-transparent: rgba(48, 64, 48, 0.25);
    --warning-color: rgb(133, 30, 30);
    --warning-color-transparent: rgba(133, 30, 30, 0.25);
    --control-color: rgb(71, 71, 236);
    --control-color-transparent: rgba(71, 71, 236, 0.25);
    --exec-color: rgb(31, 104, 31);
    --exec-color-transparent: rgba(46, 128, 46, 0.25);

    --button-transition-duration: 200ms;
}

body {
    margin: 0;
    background-color: #143009;
    background-image: url("../img/waves2.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-blend-mode: multiply;

    color: var(--main-text-color);
    font-family: 'Courier New', Courier, monospace;

    text-align: center;
}

/*---------------------------------------------------------------------------*/

.logo {
    background: -webkit-linear-gradient(var(--main-text-color), var(--exec-color-transparent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;

    margin: 30px auto 30px auto;
}

/*---------------------------------------------------------------------------*/

.names-input-form {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);

    width: 350px;
    padding: 20px 20px;
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 30px;
    margin: 20px auto;
    display: grid;
    justify-content: center;
    text-align: center;
}

.names-form-line, .payer-selector {
    padding: 2px 0;
    margin: 2px 0;
}

.form-label {
    /*height: 20px;*/
    background-color: var(--default-neutral-color);
    color: var(--background-color);
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 1px;
    padding-right: 3px;
    padding-left: 3px;
    border: 1px solid var(--default-neutral-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.form-input {
    /*height: 20px;*/
    background-color: var(--background-color);
    font-size: 20px;
    padding: 2px 5px;
    border: 1px solid var(--default-neutral-color);
    color: var(--main-text-color);
    z-index: 1;
}

.discard-button {
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--warning-color);
    font-size: 20px;
    padding: 2px 5px;
    border: 1px solid var(--warning-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: -1;
    transition-duration: var(--button-transition-duration);
}

.discard-button:hover {
    background-color: var(--default-neutral-color-transparent);
    color: var(--main-text-color);
}

.discard-button:active {
    background-color: var(--warning-color-transparent);
    color: var(--main-text-color);
    border-color: var(--warning-color);
    /*
    padding-top: 3px;
    padding-bottom: 1px;
    */
}

.form-control {
    display: flex;
    gap: 10px;
}

.button-add {
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--control-color);
    font-size: 20px;
    font-weight: bold;
    padding: 1px 15px 1px 15px;
    border: 1px solid var(--default-neutral-color);
    border-radius: 10px 10px 20px 20px;
    margin: 5px auto;
    transition-duration: var(--button-transition-duration);
}

.button-add:hover {
    background-color: var(--default-neutral-color-transparent);
    color: var(--main-text-color);
}

.button-add:active {
    background-color: var(--control-color-transparent);
    color: var(--main-text-color);
    border-color: var(--control-color);
    /*
    padding-top: 2px;
    padding-bottom: 0px;
    */
}

.form-submit {
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--exec-color);
    font-size: 16px;
    font-weight: bold;
    padding: 5px 30px;
    border: 1px solid var(--default-neutral-color);
    border-radius: 10px 20px 20px 10px;
    margin: auto;
    transition-duration: var(--button-transition-duration);
}

.form-submit:disabled {
    color: var(--default-neutral-color);
}

.form-submit:hover {
    background-color: var(--default-neutral-color-transparent);
    color: var(--main-text-color);
}

.form-submit:active {
    background-color: var(--exec-color-transparent);
    color: var(--main-text-color);
    border-color: var(--exec-color);
    /*
    padding-top: 6px;
    padding-bottom: 4px;
    transition: none;
    */
}

/*---------------------------------------------------------------------------*/

.payments-list, .payment-input-form, .total-payed-list {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);

    width: max-content;
    padding: 20px 20px;
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 30px;
    margin: 20px auto;
    display: grid;
    justify-content: center;
    text-align: center;
}

.payments-list-item {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    border: 1px solid var(--default-neutral-color);
    border-radius: 10px;
    margin: 4px 0;
    position: relative;
}

.payments-list-item-header {
    text-align: left;
}

.payments-payer, .payments-amount {
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: bold;
}

.payments-fill, .payments-consumer {
    color: var(--default-neutral-color);
    font-size: 14px;
    font-weight: bold;
}

.payments-list-item-consumers {
    display: flex;
}

.payments-consumer {
    margin: 0 4px;
}

.payments-remove {
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--warning-color);
    font-size: 16px;
    font-weight: bold;
    padding: 2px 8px;
    border: 1px solid var(--warning-color);
    border-radius: 0px 10px 0px 10px;
    margin: auto;
    transition-duration: var(--button-transition-duration);

    position: absolute;
    top: 0;
    right: 0;
}

.payments-remove:disabled {
    color: var(--default-neutral-color);
}

.payments-remove:hover {
    background-color: var(--default-neutral-color-transparent);
    color: var(--main-text-color);
}

.payments-remove:active {
    background-color: var(--warning-color-transparent);
    color: var(--main-text-color);
    border-color: var(--warning-color);
    /*
    padding-top: 3px;
    padding-bottom: 1px;
    */
}

.button-back-to-names, .cancel-payment {
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--warning-color);
    font-size: 16px;
    font-weight: bold;
    padding: 5px 30px;
    border: 1px solid var(--default-neutral-color);
    border-radius: 20px 10px 10px 20px;
    margin: auto;
    transition-duration: var(--button-transition-duration);
}

.button-back-to-names:disabled, .cancel-payment:disabled {
    color: var(--default-neutral-color);
}

.button-back-to-names:hover, .cancel-payment:hover {
    background-color: var(--default-neutral-color-transparent);
    color: var(--main-text-color);
}

.button-back-to-names:active, .cancel-payment:active {
    background-color: var(--warning-color-transparent);
    color: var(--main-text-color);
    border-color: var(--warning-color);
    /*
    padding-top: 6px;
    padding-bottom: 4px;
    */
}

/*---------------------------------------------------------------------------*/

.form-select {
    background-color: var(--background-color);
    font-size: 19px;
    padding: 2px 5px;
    border: 1px solid var(--default-neutral-color);
    border-radius: 0 10px 10px 0;
    color: var(--main-text-color);
    z-index: 1;
}

.rightest {
    border-radius: 0 10px 10px 0;
}

.consumers-checkboxes {
    margin: 10px 0;
    display: grid;
    gap: 10px;
}




.checkbox-wrapper-47 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

.checkbox-wrapper-47 label {
position: relative;
padding-left: 2em;
padding-right: 1em;
line-height: 2;
cursor: pointer;
display: inline-flex;
}

.checkbox-wrapper-47 label:before {
box-sizing: border-box;
content: " ";
position: absolute;
top: 0.3em;
left: 0;
display: block;
width: 1.4em;
height: 1.4em;
border: 1px solid var(--warning-color);
border-radius: 6px;
z-index: -1;
}

.checkbox-wrapper-47 input[type=checkbox]:checked + label {
padding-left: 1em;
color: var(--main-text-color);
}
.checkbox-wrapper-47 input[type=checkbox]:checked + label:before {
top: 0;
width: 100%;
height: 2em;
background: var(--exec-color-transparent);
border-color: var(--exec-color);
}

.checkbox-wrapper-47 label,
.checkbox-wrapper-47 label::before {
transition: 0.25s all ease;
}
